{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que{{ app.user.username }}, <a href="{{ path('security.logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    <div class="login">
        <img class="mb-4 mx-auto d-block" src="{{ asset('img/gsb.png') }}" alt="Gsb_logo">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <label for="inputLogin">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control text-center" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control text-center" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn_log btn btn-lg btn-primary" type="submit">Connexion</button>
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    
</form>
{% endblock %}
