{% extends "base.html.twig" %}

{% set trans_month_hash = { 
        "January": "de Janvier", 
        "February": "de Février", 
        "March": "de Mars", 
        "April": "d'Avril", 
        "May": "de Mai", 
        "June": "de Juin", 
        "July": "de Juillet",
        "August": "d'Août", 
        "September": "de Septembre", 
        "October": "de Octobre", 
        "November": "de Novembre", 
        "December": "de Décembre"
    } 
%}

{% block body %}

    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Fiche frais {{ trans_month_hash["now"|date("F")] ~ ' ' ~ "now"|date("Y")}}</h1>
                <br>

                {# affichage des messages flash: #}
                {% for message in app.flashes('noticeExpenseBundle') %}
                <p class="alert alert-success">{{ message }}</p>
                {% endfor %}
                
                <table class='table table-striped table-bordered' style='width:100%; color: black;' >
                    <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Nombre de Justificatifs</th>
                            <th>Montant Total des Frais</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ bundleMonthly.state.wording }}</td>
                            <td>{{ bundleMonthly.nbSupportingDocuments }}</td>
                            <td>{{ bundleMonthly.validAmount }}</td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
    
    <br><br>
     
    <div class="container">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="card-header" style="background-color: #26c4ec";>
                        <h3 class="card-title" style="text-align: center; color: white;">Frais forfait</h3>
                    </div>


                    <table class='table table-striped table-bordered' style='width:100%; color: black;' >
                        <thead>
                            <tr>
                                <th>Libelle</th>
                                <th>Quantité</th>
                                <th>Date de saisie</th>
                                <th>Montant à l'unité</th>
                                <th>Montant Total</th>
                                <th><a href="{{ url('visitor.line_expense.form_bundle')}}" class="btn btn-primary">Ajouter un frais forfait</a></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for line in lineExpenseBundleArray %}
                            <tr>
                                <td>{{ line.expenseBundle.wording }}</td>
                                <td>{{ line.quantity }}</td>
                                <td>{{ line.date | date('d-m-Y') }}</td>
                                <td>{{ line.expenseBundle.amount }}</td>
                                <td>{{ (line.expenseBundle.amount|number_format(2,'.',',') * line.quantity|number_format(2,'.',','))|number_format(2,'.',',') }}</td>
                                <td>  
                                    <a href="{{ url('visitor.line_expense.form_bundle', {id:line.id})}}" class="btn btn-warning">Modifier</a>
                                    <a href="{{ url('visitor.line_expense.delete_bundle', {id:line.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de supprimer le frais {{ line.expenseBundle.wording }} du {{ line.date | date('d-m-Y') }}')">Supprimer</a>                        
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table> 
                </div>

                <div class="col">
                    <div class="card-header" style="background-color: #26c4ec";>
                        <h3 class="card-title" style="text-align: center; color: white;">Frais hors forfait</h3>
                    </div>


                    <table class='table table-striped table-bordered' style='width:100%; color: black;' >
                        <thead>
                            <tr>
                                <th>Libelle</th>
                                <th>Date</th>
                                <th>Montant</th>
                                <th>Justificatif</th>
                                <th><a href="{{ url('visitor.line_expense.form_out_bundle')}}" class="btn btn-primary">Ajouter un frais hors forfait</a></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for line in lineExpenseOutBundleArray %}
                            <tr>
                                <td>{{ line.wording }}</td>
                                <td>{{ line.date | date('d-m-Y') }}</td>
                                <td>{{ line.amount }}</td>
                                {% if line.supportingDocument != null %}
                                    <td><a href="{{ url('visitor.expense_form.bundle_monthly.display_supporting_document', {supportingDocument: line.supportingDocument}) }}" target='_blank' class="btn btn-primary">Consulter</a></td>
                                {% else %}
                                    <td>Aucun justificatif donné</td>
                                {% endif %}
                                <td>  
                                    <a href="{{ url('visitor.line_expense.form_out_bundle', {id:line.id})}}" class="btn btn-warning">Modifier</a>
                                    <a href="{{ url('visitor.line_expense.delete_out_bundle', {id:line.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de supprimer le frais {{ line.wording }} du {{ line.date | date('d-m-Y') }}')">Supprimer</a>                   
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div>
    
    
    

   
    

{% endblock %}