{% extends "base.html.twig" %}

{% form_theme form "form/custom_bootstrap_4_layout.html.twig" %}

{% block body %}

<section class="hero-wrap hero-wrap-2" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <h1 class="mt-4 mb-4 bread text-center">
                {% if entity.id != null %}
                    Modification du médicament numéro {{ entity.id }}
                {% else %}
                    Ajout d'un médicament 
                {% endif %}
            </h1>
        </div>
      </div>
    </div>
  </section>
      
  <br><br>

  <div class="site-section">
    <div class="container">
    <p>
        <span class="mr-2"><h5><a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">&lt; Retour <i class="ion-ios-arrow-forward"></i></a></h5></span>
    </p>
      <div class="row">
        <div class="col-md-12">

          {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}    
            <div class="p-3 p-lg-5 border border-2 border-primary rounded">
              <div class="form-group row">
                <div class="col-md-6">
                  {{ form_label(form.code, 'Code :', {'label_attr': {'class': 'text-primary mb-1'}}) }}
                  {{ form_widget(form.code, {'attr': {'class': 'border border-primary rounded'}}) }}
                  {{ form_errors(form.code) }}
                </div>
                <div class="col-md-6">
                  {{ form_label(form.name, 'Nom :', {'label_attr': {'class': 'text-primary mb-1'}}) }}
                  {{ form_widget(form.name, {'attr': {'class': 'border border-primary rounded'}}) }}
                  {{ form_errors(form.name) }}
                </div>
                <div class="col-md-6">
                  {{ form_label(form.family, 'Famille :', {'label_attr': {'class': 'text-primary mb-1'}}) }}
                  {{ form_widget(form.family, {'attr': {'class': 'border border-primary rounded'}}) }}
                  {{ form_errors(form.family) }}
                </div>
                <div class="col-md-6">
                  {{ form_label(form.composition, 'Composition :', {'label_attr': {'class': 'text-primary mb-1'}}) }}
                  {{ form_widget(form.composition, {'attr': {'class': 'border border-primary rounded'}}) }}
                  {{ form_errors(form.composition) }}
                </div>
                <div class="col-md-6">
                  {{ form_label(form.sideEffects, 'Effets secondaires :', {'label_attr': {'class': 'text-primary mb-1'}}) }}
                  {{ form_widget(form.sideEffects, {'attr': {'cols': '20', 'rows': '5', 'class': 'border border-primary rounded'}}) }}
                  {{ form_errors(form.sideEffects) }}
                </div>
                <div class="col-md-6">
                  {{ form_label(form.contraindications, 'Contre indication(s) :', {'label_attr': {'class': 'text-primary mb-1'}}) }}
                  {{ form_widget(form.contraindications, {'attr': {'cols': '20', 'rows': '5', 'class': 'border border-primary rounded'}}) }}
                  {{ form_errors(form.contraindications) }}
                </div>
              </div><br><br>
                <div class="form-group row">
                  <div class="text-center">
                    <input type="submit" class="btn btn-lg btn-primary" value="Envoyer">
                  </div>
                </div>
              </div>
            </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br><br>

{% endblock %}