<ul class="nav">
  <li>
    <a href="{{ url('visiteur.homepage.index') }}">
      <img src="{{ asset('img/gsb.png') }}" alt="GSB_logo" class="logo-nav ml-3 my-1">
    </a>
  </li>
  {% if is_granted('ROLE_VISITEUR') %}
  <li>
    <a href="{{ url('visiteur.homepage.index') }}" class="select my-3">Accueil</a>
  </li>
  <li>
    <a href="{{ url('visiteur.fiche_frais.fiche_mois') }}" class="select my-3">Création de la fiche frais</a>
  </li>
  <li>
    <a href="{{ url('visiteur.fiche_frais.index') }}" class="select my-3">Voir mes fiches de frais</a>
  </li>
  {% endif %}
  <li class="logout">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <a href="{{ url('security.logout') }}" class="select my-3">Déconnexion</a>
    {% endif %}
  </li>
</ul>
